<strict><%= flash[:notice] -%></strict>
<strict><%= flash[:error] -%></strict>

<table border=1>
  <% for row in @puzzle.board -%>
  <tr>
    <% for col in row	-%>
    <td><%= @puzzle.movable?(col) ? link_to(col, move_path(col)) : (col.zero? ? '&nbsp;' : col) -%></td>
    <% end -%>
  </tr>
  <% end -%>
</table>